# Ignore everything
*

# But not these files...
!.gitignore
!TA-13513024-Luqman.docx
!note-TA.txt
!ppt-luqman-seminar.pptx
!ppt-luqman-sidang.pptx
!paper-luqman.doc
!poster-luqman.pptx
!Abstrak-English-Luqman.docx
!Abstrak-Indonesia-Luqman.docx
# etc...

# ...even if they are in subdirectories
!*/
